  
.PrimeiraTela{
    height: 15%;
    margin-top:7px;
    margin-right: 7px;
    background-color: #FF0000;
    width: 100%;
}
.meio{
    margin-top:7px;
    height: 70%;
    background-color: #000000;
    float:left;
    width: 100%;
}
.rodape{
    margin-top:7px;
    height: 12%;
    background-color: #0000FF;
    width: 100%;
    float:left;
}
.menu{
    margin:7px;
    margin-top:7px;
    height: 96%;
    background-color:#FFFF00 ;
    width: 35%;
    float:left;
    
}
.menu1{
    margin:7px;
    margin-top:7px;
    height: 50%;
    background-color:#000000 ;
    width: 97%;
    float:left;
    
   
}
.menu2{  
    margin:7px;
    margin-top:1px;
    height: 20%;
    background-color:#000000 ;
    width: 97%;
    float:left;
    
}
.menu3{
    margin:7px;
    margin-top:1px;
    height: 22%;
    background-color:#000000 ;
    width: 97%;
    float:left;
    
}

.venda{
    margin-right: 7px;
    margin-top:7px;
    height: 96%;
    background-color:#FFFF00 ;
    width:63.4%;
    float:left;
}
.caixa{
    margin:6%;
    margin-top:29px;
    height: 16.5%;
    background-color:#000000;
    width: 21%;
    float:left;      
    
}
.cabecalho1{
    margin:7px;
    margin-top:7px;
    height: 85%;
    background-color:#000000;
    width: 22%;
    float:left;      
    
}
h1 {
	
	margin-right: 74px;
	margin-left: 80px;
	font-size: 70px;
	font-color:#FFFF00;
	margin-top:2px;
	
	}
	
	h2 {
	
	margin-right: 74px;
	margin-left: 130px;
	font-size: 70px;
	font-color:#FFFF00;
	margin-top:2px;
	}

.cabecalho2{
    margin:1px;
    margin-top:7px;
    height: 85%;
    background-color:#000000;
    width: 63%;
    float:left;      
    
}
.cabecalho3{
    margin:7px;
    margin-top:7px;
    height: 85%;
    background-color:#000000;
    width: 12.7%;
    float:left;      
    
}
.ladoEsquerdo{
    margin:7px;
    margin-top:7px;
    height: 80%;
    background-color:#000000;
    width: 48%;
    float:left;      
    
}
.ladoDireito{
    margin:1px;
    margin-top:7px;
    height: 80%;
    background-color:#000000;
    width: 50.3%;
    float:left;      
    
}

